body {
	margin: 0 auto;
	height: 100vh;
	background: -webkit-linear-gradient(-45deg, #99E2B4 0%,#036666 100%);
	font-family: 'Itim', cursive;
	overflow-y: hidden;
	overflow-x: hidden;
}

.main_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.center_window {
	height: 70vh;
	width: 25vw;
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e2e2e2 100%);
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 150px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 2;
}

.left_window {
	height: 70vh;
	width: 20vw;
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e2e2e2 100%);
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 2;
}

.right_window {
	height: 70vh;
	width: 20vw;
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e2e2e2 100%);
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 2;
}

.datebar {
	display: flex;
	justify-content: space-around;
	height: 10vh;
	background: -webkit-linear-gradient(top, #99E2B4 0%,#036666 100%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.datebar2 {
	display: flex;
	justify-content: space-around;
	height: 10vh;
	background: -webkit-linear-gradient(bottom, #99E2B4 0%,#036666 100%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#date {
	color: #fff;
	margin-top: 25px;
}

.datebar > h2 {
	text-align: center;
	font-size: 34px;
}

.datebar2 > h2 {
	text-align: center;
	font-size: 34px;
	color: white;
}

.fa-calendar-alt {
	color: white;
	margin-top: 20px;

}

.fa-tasks {
	color: white;
	margin-top: 20px;
}

.fa-check-circle {
	color: white;
	margin-top: 20px;
}

.addbtn > button {
	cursor: pointer;
	height: 50px;
	width: 400px;
	margin: 0 auto;
	margin-top: 10px; 
	display: block;
	background-color: white;
	border: 2px solid #036666;
	border-radius: 50px 50px 50px 50px;
	color: #036666;
	font-size: 24px;
	font-family: 'Itim', cursive;
	outline: none;
	transition: 0.5s;
}

.addbtn:hover {
	transform: scale(1.01);
	transition: 0.5s;
}

.addbtn:active {
	transform: scale(0.95);
}

.hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#addinput {
	display: flex;
    justify-content: center;
}

.addinput {
	height: 30px;
	width: 35%;
	padding: 0 3%;
	margin: 0 10px 0 10px;
    border: 2px solid #036666;
    border-radius: 50px 50px 50px 50px;   
    color: #036666;
	font-size: 20px;
	font-family: 'Itim', cursive;	
    outline: none;
    display: none;
}

.priorityChoose {
	height: 35px;
	width: 88px;
    border: 2px solid #036666;
    border-radius: 50px 50px 50px 50px;   
    color: #036666;
	font-size: 18px;
	font-family: 'Itim', cursive;	
    outline: none;
    display: none;
    cursor: pointer;
}



.priorityChoose:active {
	transition: all 0.5s;
	transform: scale(0.99);
}

option:first-child{
	display: none;
}

.submit {
	cursor: pointer;
	height: 35px;
	width: 20%;
    border: 2px solid #036666;
    border-radius: 50px 50px 50px 50px;   
    color: #036666;
	font-size: 20px;
	font-family: 'Itim', cursive;
	transition: all 0.5s;

}

.submit:hover {
	transform: scale(1.01);
	transition: all 0.5s;
}

.submit:active {
	transform: scale(0.95);
}

.tasksList {
	margin-left: 20px;
	color: #036666;
	font-size: 20px;
	font-family: 'Itim', cursive;
}

.left_content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}

.left_content > div > h3 {
	font-size: 22px;
	text-align: center; 
}

.left_content > div:nth-child(1) > h3 {
	color: #1E6F5C;
	margin-bottom: 0;
}

.left_content > div:nth-child(2) > h3 {
	color: #289672;
	margin-bottom: 0;
}

.left_content > div:nth-child(3) > h3 {
	color: #29BB89;
	margin-bottom: 0;
}

.hrHigh {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(30, 111, 92, 1), rgba(0, 0, 0, 0));
}

.hrNormal {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(40, 150, 114, 1), rgba(0, 0, 0, 0));
}

.hrLow {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(41, 187, 137, 1), rgba(0, 0, 0, 0));
}

.fa-check {
	margin-top: 25px;
	margin-left: 10px;
	color: #00802b;
	cursor: pointer;
}

.fa-check:hover {
	color: #54E346;
	transition: 0.2s;
}

.fa-trash {
	margin-top: 25px;
	margin-left: 10px;
	color: #999999;
	cursor: pointer;
}

.fa-trash:hover {
	color: red;
	transition: 0.2s;
}

.fa-times {
	margin-top: 26px;
	margin-left: 10px;
	color: #b00202;
	cursor: pointer;
}

.fa-times:hover {
	color: #ff0000;
	transition: 0.2s;
}

.fa-history {
	margin-top: 26px;
	margin-left: 10px;
	color: #999999;
	cursor: pointer;
}

.fa-history:hover {
	color: #064420;
	transition: 0.2s;
}

#tasksH {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#tasksN {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#tasksL {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#doneTasks {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.divElem {
	display: flex;
}

#delAllTasks {
	cursor: pointer;
	margin: auto;
	margin-top: 10px;
	height: 35px;
	width: 40%;
  border: 2px solid #036666;
  border-radius: 50px 50px 50px 50px;   
  color: #036666;
	font-size: 20px;
	font-family: 'Itim', cursive;
}

#delAllTasks:hover {
	transform: scale(1.01);
	transition: all 0.5s;
}

#delAllTasks:active {
	transform: scale(0.95);
}

.login {
	text-align: center;
}

.loginh2 {
	color: #036666;
	font-size: 40px;
	margin-top: 100px;
	margin-bottom: 10px;
}

.logininpt {
	height: 30px;
	width: 70%;
	margin-top: 10px;
	text-align: center;
	border: 2px solid #036666;
    border-radius: 50px 50px 50px 50px;
    color: #036666;
    outline: none;
    font-size: 16px;
    font-family: 'Itim', cursive;
}

.logininpt::placeholder {
	color: #036666;
}

p {
	color: #036666;
	font-size: 18px;
}

.signinBtn {
	cursor: pointer;
	margin: auto;
	margin-top: 10px;
	height: 30px;
	width: 28%;
  border: 2px solid #036666;
  border-radius: 50px 50px 50px 50px;   
  color: #036666;
	font-size: 16px;
	font-family: 'Itim', cursive;
}

.signinBtn:hover {
	transform: scale(1.01);
	transition: all 0.5s;
}

.signinBtn:active {
	transform: scale(0.95);
}

#regHyperlink {
	font-weight: 600;
	cursor: pointer;
	transition-duration: 0.4s;
}

#regHyperlink:hover {
	font-size: 19px;
	transition-duration: 0.4s;
}

.registerModal {
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e2e2e2 100%);
	border-radius: 5px;
	display: none;
	position: absolute;
	z-index: 4;
	width: 25vw;
	height: 70vh;
	top: 150px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 45px;
}

.datebarSignup {
	display: flex;
	justify-content: center;
	height: 10vh;
	background: -webkit-linear-gradient(bottom, #99E2B4 0%,#036666 100%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.datebarSignup > h2 {
	text-align: center;
	font-size: 34px;
	color: white;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover {
	color: #036666;
	transition: all 0.3s;
}

.registerinpt {
	height: 40px;
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border: 2px solid #036666;
    border-radius: 50px 50px 50px 50px;
    color: #036666;
    outline: none;
    font-family: 'Itim', cursive;
    font-size: 16px;
}

.registerinpt::placeholder {
	color: #036666;
}

.registerBtn {
	height: 40px;
	width: 30%;
	margin-top: 40px;
	text-align: center;
	border: 2px solid #036666;
    border-radius: 50px 50px 50px 50px;
    color: #036666;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Itim', cursive;
}

.registerBtn:hover {
	transform: scale(1.01);
	transition: all 0.5s;
}

.registerBtn:active {
	transform: scale(0.95);
}

.registerh2 {
	color: #036666;
	font-size: 30px;
	text-align: center;
}

.registerInfo {
	color: #036666;
	font-size: 20px;
	text-align: center;
	margin-top: 80px;
}

.blob1 {
	z-index: 1;
	position: absolute;
	height: 300px;
	width: 300px;
	top: 300px;
	left: 20px;
	fill: url(#MyGradient);
}

.blob2 {
	z-index: 1;
	position: absolute;
	height: 220px;
	width: 220px;
	top: 100px;
	left: 500px;
	fill: url(#MyGradient);
}

.blob3 {
	z-index: 1;
	position: absolute;
	height: 250px;
	width: 250px;
	top: 710px;
	left: 600px;
	fill: url(#MyGradient);
}

.blob4 {
	z-index: 1;
	position: absolute;
	height: 250px;
	width: 250px;
	top: 580px;
	left: 1200px;
	fill: url(#MyGradient);
}

.blob5 {
	z-index: 1;
	position: absolute;
	height: 250px;
	width: 250px;
	top: 70px;
	left: 1250px;
	fill: url(#MyGradient);
}

.blob6 {
	z-index: 1;
	position: absolute;
	height: 250px;
	width: 250px;
	top: 500px;
	left: 1650px;
	fill: url(#MyGradient);
}