body {
	margin: 0 auto;
	height: 100vh;
	background: -webkit-linear-gradient(-45deg, #ffa84c 0%,#f70e45 100%);
	font-family: 'Itim', cursive;
}

.main_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.center_window {
	height: 70vh;
	width: 25vw;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 150px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 2;
}

.left_window {
	height: 70vh;
	width: 20vw;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 2;
}

.right_window {
	height: 70vh;
	width: 20vw;
	background-color: white;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 2;
}

.datebar {
	display: flex;
	justify-content: space-around;
	height: 10vh;
	background: -webkit-linear-gradient(top, #ffa84c 0%,#f44627 100%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.datebar2 {
	display: flex;
	justify-content: space-around;
	height: 10vh;
	background: -webkit-linear-gradient(bottom, #ffa84c 0%,#f44627 100%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#date {
	color: #fff;
	margin-top: 25px;
}

.datebar > h2 {
	text-align: center;
	font-size: 34px;
}

.datebar2 > h2 {
	text-align: center;
	font-size: 34px;
	color: white;
}

.fa-calendar-alt {
	color: white;
	margin-top: 20px;

}

.fa-tasks {
	color: white;
	margin-top: 20px;
}

.fa-check-circle {
	color: white;
	margin-top: 20px;
}

.addbtn > button {
	cursor: pointer;
	height: 50px;
	width: 400px;
	margin: 0 auto;
	margin-top: 10px; 
	display: block;
	background-color: white;
	border: 2px solid #F44627;
	border-radius: 50px 50px 50px 50px;
	color: #F44627;
	font-size: 24px;
	font-family: 'Itim', cursive;
	outline: none;
}

.addbtn:hover {
	transform: scale(1.01);
	transition: all 0.5s;
}

.addbtn:active {
	transform: scale(0.95);
}

.hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#addinput {
	display: flex;
    justify-content: center;
}

.addinput {
	height: 30px;
	width: 35%;
	padding: 0 3%;
	margin: 0 10px 0 10px;
    border: 2px solid #F44627;
    border-radius: 50px 50px 50px 50px;   
    color: #F44627;
	font-size: 20px;
	font-family: 'Itim', cursive;	
    outline: none;
    display: none;
}

.priorityChoose {
	height: 35px;
	width: 88px;
    border: 2px solid #F44627;
    border-radius: 50px 50px 50px 50px;   
    color: #F44627;
	font-size: 18px;
	font-family: 'Itim', cursive;	
    outline: none;
    display: none;
    cursor: pointer;
}



.priorityChoose:active {
	transition: all 0.5s;
	transform: scale(0.99);
}

option:first-child{
	display: none;
}

.submit {
	cursor: pointer;
	height: 35px;
	width: 20%;;
    border: 2px solid #F44627;
    border-radius: 50px 50px 50px 50px;   
    color: #F44627;
	font-size: 20px;
	font-family: 'Itim', cursive;

}

.submit:hover {
	transform: scale(1.01);
	transition: all 0.5s;
}

.submit:active {
	transform: scale(0.95);
}

.tasksList {
	margin-left: 20px;
	color: #F44627;
	font-size: 20px;
	font-family: 'Itim', cursive;
}

.left_content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}

.left_content > div > h3 {
	font-size: 22px;
	text-align: center; 
}

.left_content > div:nth-child(1) > h3 {
	color: #cd1818;
	margin-bottom: 0;
}

.left_content > div:nth-child(2) > h3 {
	color: #ff8000;
	margin-bottom: 0;
}

.left_content > div:nth-child(3) > h3 {
	color: #ffcc00;
	margin-bottom: 0;
}

.hrHigh {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(205, 24, 24, 1), rgba(0, 0, 0, 0));
}

.hrNormal {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 128, 0, 1), rgba(0, 0, 0, 0));
}

.hrLow {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(230, 184, 0, 1), rgba(0, 0, 0, 0));
}

.fa-check {
	margin-top: 25px;
	margin-left: 10px;
	color: #00802b;
	cursor: pointer;
}

.fa-trash {
	margin-top: 25px;
	margin-left: 10px;
	color: #999999;
	cursor: pointer;
}

.fa-times {
	margin-top: 26px;
	margin-left: 10px;
	color: #d00000;
	cursor: pointer;
}

#tasksH {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#tasksN {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#tasksL {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#doneTasks {
	display: flex;
	flex-wrap: wrap;
}





.blob1 {
	z-index: 1;
	position: absolute;
	height: 300px;
	width: 300px;
	top: 300px;
	left: 20px;
	animation: move 5s ease-in-out infinite;
	/*box-shadow*/
}

.blob2 {
	z-index: 1;
	position: absolute;
	height: 250px;
	width: 250px;
	top: 100px;
	left: 500px;
	animation: moveTwo 5s, rotation 30s linear infinite;
	animation-delay: 0.5s;
	/*animation: rotation 8s infinite linear;*/
	/*box-shadow*/
}

.blob3 {
	z-index: 1;
	position: absolute;
	height: 250px;
	width: 250px;
	top: 710px;
	left: 900px;
	animation: moveThree 4s, rotation 25s ease-in-out infinite;
	animation-delay: 0.5s;
	/*animation: rotation 8s infinite linear;*/
	/*box-shadow*/
}

@keyframes rotation {
	from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes move {
	from {
	top: 300px;
	left: 15px;
	}
	50% {
	top: 325px;
	left: 10px;
	}
	to {
	top: 300px;
	left: 15px;
	}
}

@keyframes moveTwo {
	from {
	top: 100px;
	left: 500px;
	}
	50% {
	top: 130px;
	left: 490px;
	}
	to {
	top: 100px;
	left: 500px;
	}
}

@keyframes moveThree {
	from {
	top: 710px;
	left: 900px;
	}
	50% {
	top: 720px;
	left: 915px;
	}
	to {
	top: 710px;
	left: 900px;
	}
}